/* header
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 50px;
  background-color: #fff;
  color: #000;
}
.header-ttl {
  font-size: 24px;
  width: 80px;
}
.header-nav-list {
  display: flex;
  font-weight: bold;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
} */

/* main */
/* main {
  height: 500px;
  background: #f2f2f2;
} */

/* footer */
/* footer {
  background-color: #fff;
  color: #000;
  width: 100%;
}
.footer-ttl {
  width: 100%;
  text-align: center;
  margin-top: 15px;
} */